/*Google Font*/
body {
	font-family: "Open Sans", sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*All HTML elements have default values for their "margin" and "padding" properties. Giving them the value of "0" makes it easier for us to manipulate the size and positioning of elements.*/

nav {
	/*Shorthand property: Apply padding on all sidess*/
	padding: 0.8rem;
	/*Creates space between the nav and the intro section*/
	/*The "margin-bottom" property only changes the space at the bottom of the element. This is good for instances where a single space is needed to be changed.*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector combinator: Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
	padding-bottom: 1rem;
}
/*Even though we have access to the "padding" and "margin" properties when centering text horizontally, the "text-align"property is still better to use. Manipulating the "padding" and "margin" might affect non-text HTML tags to be added in the future, which would return unexpected results.*/

.header p {
	padding-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-top: 1rem;
}

/*
- The selector used is a descendant selector. Even though there is only one button present in the page, this is appropriate as it helps in code readability - telling the developer that the button is located in the intro section.
- The font weight property changes the thickness of the text. 
- The padding property is used here because we want to make the button larger by creating space from the text content to the borders of the button.
*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	padding-top: 2rem;
	border-top: 0.5px solid gray;
}



#succeed-info .card {
	/*Inline block allows the card to appear beside each other.*/
	display: inline-block;
	/*Vertical align top allows our elements to be aligned at the top*/
	vertical-align: top;
	/*The minimum height allows for cards to have equal height that adjusts with the content.*/
	min-height: 175px;
	/**/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*ACTIVITY*/

#pre-footer div {
	color: white;
	display: inline-block;
	vertical-align: bottom;
	min min-height: 175px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
}
#pre-footer {
	background-color: #002540;
	padding-top: 2rem;
	padding-bottom: 2rem;
}